*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.content-section {
  padding-right: 24px;
  padding-left: 24px;
}

.link {
  border-bottom: 1px solid black;
  text-decoration: none;
  text-transform: lowercase;
}

.link:hover {
  border-bottom: 0;
}

.link-active {
  border-bottom: 0;
}