.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-content: center;
  padding-top: 92px;
  padding-bottom: 92px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  max-height: 105px;
}

.header__contacts {
  display: flex;
  justify-self: end;
  align-items: center;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  color: white;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding-top: 165px;
  font-weight: 700;
  font-size: 100px;
  line-height: 123px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
position: relative;
display: flex;
margin-top: 120px;
padding-bottom: 50px;
}

.cover__description-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 17.3px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid white;
  color: white;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  margin-left: 26px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  margin-top: 27px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  height: 600px;
}

.card-link {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
  background-size: cover;
}


/* Макет изменился, вытащил изображения из Figma */
.card-movie {
  background-image: url(../images/card-lot-01-new.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02-new.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03-new.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  margin: 50px 40px 0;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  margin: 0 40px 50px;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 26px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  margin-top: 180px;
}

.about__logo {
display: flex;
justify-content: center;
width: 240px;
height: 240px;
margin: 0 95px;
border-radius: 50%;
background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-flow: column;
  gap: 25px;
  font-size: 20px;
}

.about__text-content {
  line-height: 116%;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  text-transform: lowercase;
}

.footer__social-list {
  display: flex;
  flex-basis: 240px;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-link {
  display: block;
}

.footer__menu-icon {
  height: 48px;
}
